// HELPERS

@import "helpers/functions";
@import "helpers/mixins";
@import "helpers/placeholders";
@import "helpers/variables";

// LAYOUT

@import "layout/header";
@import "layout/footer";

// PAGES

@import "pages/index";
@import "pages/form";
@import "pages/confirmation";
@import "pages/payment";
@import "pages/finish";

// COMPONENTS

@import "components/chevron";
@import "components/progress";
@import "components/forms";
@import "components/modal";

// STYLES

html {
	font-size: 15px;

	@media #{$small-and-down} {
		font-size: 14px;
	}
}

body {
	font-family: "Open Sans", sans-serif;
	color: $pirateGrey;
}

a {
	text-decoration: underline;
	color: $pirateGrey;

	&:hover {
		text-decoration: none;
		color: $pirateOrange;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
}

h1 {
	font-size: 2.5rem;
	font-weight: 800;
	margin-top: 5rem;
	margin-bottom: 2rem;

	@media #{$small-and-down} {
        margin-top: 2rem;
    }
}

#heading-one {
    @media #{$small-and-down} {
    	margin-top: 2rem;
    }    
}

h2 {
	font-size: 1.5rem;
	font-weight: 700;
}

strong {
	font-weight: 700;
}

.container {
	@media #{$large-and-up} {
		width: 80%;
	}
}

.empty-space {
	height: 3rem;
}

.more-empty-space {
	@media #{$large-and-up} {
		height: 3rem;
	}
}

.naprej, 
.poslji {
	margin-top: 3rem;

	&:hover {
		color: #fff;
	}
}

.poslji {
	
	@media #{$large-and-up} {
		margin-bottom: 3rem;
	}
}

.skip {
	margin-bottom: 1rem;
}

.to-the-right {
	position: relative;
	text-align: right;
}