#chev-right {
  margin: 2.8rem 0.5rem 0 1rem;
}


.chevron {
  
  &__line1 {
    stroke: $pirateOrange;
    @extend %chevron-line-base;
    @include transform-origin(45px 15px);
    @include transform(rotate(40deg));

    @media #{$medium-and-down} {
      @include transform-origin(50px 50px);
    }
  }
  
  &__line2 {
    stroke: $pirateOrange;
    @extend %chevron-line-base;
    @include transform-origin(52px 135px);    
    @include transform(rotate(-40deg));

    @media #{$medium-and-down} {
      @include transform-origin(50px 50px); 
    }
  } 

  &--down {
    
    .chevron {

      &__container {   
      @include transform(translateY(13px));
      }        
    }
  }
}