.btn-large {
	width: 100%;
	white-space: nowrap;
}

.poslji-izjavo {
	margin-top: 5rem;
}

.black-frame {
	color: #fff;
	margin: 0.2rem;
	border-radius: 4px;
	max-height: 20rem;
	border: 1px solid black;

	@media #{$small-and-down} {
		max-height: 25rem;
	}

	p {
		padding: 2rem;

		span {
			white-space: nowrap;
		}
	}

	a {
		color: #fff;
	}

	
}

.file-field {
	margin-top: -1rem;

	.btn {
		margin-left: 2rem;
	}

	.file-path-wrapper {
		margin-right: 2rem;
	}

	.file-upload-message {
		padding: 0.5rem 2rem;
	}

	#send-file {
		font-weight: 700;
	}

	.fa-check {
		text-align: right;
		color: $pirateOrange;
		font-size: 5rem;
		float: right;
		margin-right: 2rem;
		margin-top: -1rem;
		visibility: hidden;
	}
}

.ali {
	font-size: 2rem;
	font-weight: 700;
	color: #000;
	text-align: center;
	margin: 1rem auto;
}

.white-text {
	color: #fff;
}