.btn-large {
	width: 17rem;
	white-space: nowrap;
	margin-bottom: 1rem;
	/*
	border: 1px solid $pirateOrange;
	border-radius: 4px;
	color: $pirateOrange;
	background-color: #fff;
	box-shadow: none;

	&:hover {
		color: #fff;
		background-color: $pirateOrange;
		box-shadow: none;
	}
	*/

	&:hover {
		color: #fff;
	}
}

.poslji-izjavo {
	margin-top: 5rem;
}

.grey-option-frame {
	color: $pirateGrey;
	margin: 0.2rem;
	max-height: 25rem;
	border: 1px solid $pirateLightGrey;

	@media #{$small-and-down} {
		max-height: 33rem;
	}

	p {
		padding: 2rem;

		span {
			white-space: nowrap;
		}
	}

	a {
		color: $pirateGrey;
	}

	
}

.file-field {
	margin-top: -1rem;

	.btn {
		margin-left: 2rem;
	}

	.file-path-wrapper {
		margin-right: 2rem;
	}

	.grey-text2 {
		color: $pirateGrey;
	}

	.file-upload-message {
		padding: 0.5rem 2rem;
	}

	.fa-check {
		text-align: right;
		color: $pirateOrange;
		font-size: 5rem;
		float: right;
		margin-right: 2rem;
		margin-top: -1rem;
		visibility: hidden;
	}
}

.ali {
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
	margin: 1rem auto;
}

