.finish-pic {
	display: block;
	margin: 0 auto 2rem auto;

    @media #{$small-and-down} {
        max-width: 90%;
    }

}

.mini-list {
	margin-left: 2rem;
}

#clear-storage {
    text-decoration: underline;
    color: $pirateGrey;
    cursor: pointer;
    font-size: 0.8rem;

    &:hover {
        text-decoration: none;
        color: $pirateOrange;
    }
}