.pirate-form-container {
	max-width: 800px;
	border: 1px solid #fff;
	box-shadow: 0.3rem 0.3rem 0.8rem 0 rgba(170, 170, 170, 0.5);
	padding-left: 3rem;
	padding-right: 3rem;
	margin-top: 3rem;

	@media #{$small-and-down} {
		border: none;
		box-shadow: none;
		margin-top: 0;
		padding-left: 0;
		padding-right: 0;
	}
}

.pirate-form {
	margin-top: 4rem;
}

#address {
	@media #{$medium-and-down} {
		margin-bottom: 2.3rem;
	}
}

.note {
	font-size: 0.8rem;
}

.radio-container {
	margin-top: 1rem;
	display: block;
	position: relative;
	color: $pirateGrey;

}

.extra-space {
	margin-top: 3rem;

	.move-down {
		@media #{$small-and-down} {
		margin-top: 3rem;
		}
	}
}

.tip-delovanja {
	margin-top: 1.5rem;
	margin-bottom: -1rem;
	
}

.checkbox-container {
	margin-top: 1rem;
	display: block;
	position: relative;
	color: $pirateGrey;

	.nacionalno {
		@media #{$small-and-down} {
		margin-top: 2rem;
		}
	}
}

.final-footnote {
	font-size: 0.8rem;
	margin-left: 3rem;
}