.orange-frame { 
	margin: 0 auto;	
	border-left: 0.5rem solid $pirateOrange;
	min-height: auto;
	max-width: 28rem;

	@media #{$medium-and-down} {
		min-height: auto;
		max-width: auto;
	}

	p {
		padding: 1rem;
	}
}

#payment-frame {
	margin-top: 5rem;

	label {
		padding: 0.5rem;
	}

	dl {
		margin-left: 2.5rem;
	}

	dd {
		margin-bottom: 0.5rem;
		margin-left: 0;
	}

	.radio-content {
		color: $pirateGrey;
	}


}